on init
    chmod 0664 /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/green/brightness
    chown system system /sys/class/leds/red/pwm_us
    chmod 0664 /sys/class/leds/red/pwm_us
    chown system system /sys/class/leds/green/pwm_us
    chmod 0664 /sys/class/leds/green/pwm_us

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.asus_8953
    class hal
    user system
    group system
    shutdown critical
